nav{
    background-color: black;
    height: 50px;
}
.nav{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    background-color: white;
    margin-left: 3%;
    padding: 2%;
}
.nav:hover{
    background-color: black;
    color: aliceblue;
}
